//Fonts

//Font-Family Montserrat
// @include font(Montserrat-Light, Montserrat, Montserrat-Light);
@include font(Montserrat-Regular, Montserrat, Montserrat-Regular);
@include font(Montserrat-Medium, Montserrat, Montserrat-Medium);
@include font(Montserrat-Bold, Montserrat, Montserrat-Bold);
@include font(Montserrat-SemiBold, Montserrat, Montserrat-SemiBold);
@include font(Montserrat-ExtraBold, Montserrat, Montserrat-ExtraBold);