.is-hidden {
    display: none !important;
}

.hidden {
    display: none !important;
}

.is-notvisible {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

[onclick] {
    cursor: pointer;
}
