.blog {
    margin-top: 90px;

    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include lg-block() {
            flex-direction: column;
        }
    }

    &__sidebar {
        width: 350px;
        margin-top: 688px;
        margin-left: auto;

        @include xl-block() {
            width: 300px;
            margin-top: 558px;
        }

        @include lg-block() {
            width: calc(50% - 20px);
            margin-top: 0;
            margin-left: 0;
        }

        @include md-block() {
            width: 100%;
        }

        .blog-article {
            width: 100%;
        }

        .blog-choise-card {
            display: none;

            @include lg-block() {
                display: block;
            }
        }
    }

    &__content {
        width: 100%;
        max-width: 740px;

        @include xl-block() {
            max-width: 600px;
        }

        @include lg-block() {
            max-width: 100%;
        }

        h1 {
            font-family: $f-bold;
            font-size: 32px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            text-transform: uppercase;

            @include xl-block() {
                font-size: 26px;
            }

            @include lg-block() {
                font-size: 25px;
            }

            @include md-block() {
                font-size: 21px;
            }

            @include xs-block() {
                margin-bottom: 20px;
                font-size: 18px;
            }

            &.gradient {
                background: linear-gradient(
                    174deg,
                    #53c4d0 3.78%,
                    #008a99 94.73%
                );
                background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        h2 {
            margin-top: 40px;
            margin-bottom: 20px;
            color: #303030;
            font-family: $f-bold;
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            text-transform: uppercase;

            @include xl-block() {
                font-size: 19px;
            }

            @include lg-block() {
                font-size: 18px;
            }

            @include md-block() {
                font-size: 15px;
            }
        }

        blockquote {
            margin-top: 25px;
            margin-bottom: 40px;
            color: #303030;
            font-family: $f-medium;
            font-size: 24px;
            font-style: italic;
            line-height: 134%;

            @include xl-block() {
                margin-top: 20px;
                margin-bottom: 30px;
                font-size: 19px;
            }
        }

        p {
            color: #303030;
            font-family: $f;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 134.9%;

            /* 24.282px */

            @include xl-block() {
                font-size: 15px;
            }

            @include md-block() {
                font-size: 13px;
            }
        }
    }

    &__thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 350px;
        overflow: hidden;
        border-radius: 12.152px;

        @include xl-block() {
            width: 300px;
            height: 300px;
        }

        @include lg-block() {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
            height: 300px;
            margin-top: 25px;
        }

        @include md-block() {
            width: 100%;
            height: 256px;
        }

        @include sm-block() {
            width: 300px;
            height: 165px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &-archive {
        padding-top: 80px;

        &__loop {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 50px;
            gap: 30px;

            @include xl-block() {
                justify-content: space-between;
                gap: 0;
            }

            .blog-article {
                width: 100%;
            }
        }

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            gap: 40px;

            @include xl-block() {
                gap: 20px;
            }

            @include lg-block() {
                position: relative;
                flex-direction: column;
            }
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;
            width: calc(100% - 33.33% - 20px);

            gap: 40px;

            @include xl-block() {
                width: calc(100% - 33.33% - 10px);
                gap: 20px;
            }

            @include lg-block() {
                width: 100%;
                gap: 20px;
            }

            @include md-block() {
                flex: 0 1 100%;
            }

            @include sm-block() {
                flex-direction: column;
            }

            @include sm-block() {
                flex-direction: column;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            padding: 5px 0;

            a {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                height: 70px;
                padding: 12.599px 35.435px;
                border-radius: 40px;
                background: linear-gradient(180deg, #f4f4f4 0%, #d1cccc 100%),
                    linear-gradient(180deg, #fff 0%, #eaeaea 100%);
                box-shadow: 0 2.17px 0 0 #ddd;

                color: #666;
                font-family: $f-bold;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 32px;
                text-align: center;

                @include sm-block() {
                    height: 57px;
                    font-size: 12px;
                }
            }
        }

        &-swiper {
            width: 100%;
            overflow: visible;
        }

        h1 {
            font-family: $f-bold;
            font-size: 30px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;

            @include md-block() {
                font-size: 24px;
            }

            @include sm-block() {
                max-width: 450px;
                font-size: 21px;
            }

            ins {
                background: linear-gradient(
                    174deg,
                    #53c4d0 3.78%,
                    #008a99 94.73%
                );
                text-decoration: none;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                @include xs-block() {
                    display: block;
                }
            }
        }
    }

    &-aside {
        width: calc(33.33% - 20px);

        @include xl-block() {
            width: calc(33.33% - 10px);
        }

        @include md-block() {
            flex: 100%;
            width: 100%;
        }
    }

    &-article {
        position: relative;
        flex-shrink: 0;
        width: calc(50% - 20px);

        @include xl-block() {
            width: calc(50% - 10px);
        }

        @include md-block() {
            width: 100%;
        }

        @include sm-block() {
            width: 100%;
            width: 100%;
        }

        &__img {
            width: 100%;
            height: 360px;
            overflow: hidden;
            border-radius: 12.152px;

            @include lg-block() {
                width: 100%;
                height: 300px;
            }

            @include md-block() {
                width: 100%;
                height: 245px;
            }

            @include sm-block() {
                width: 100%;
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        &__content {
            position: relative;
            margin-top: -80px;
            padding: 25px 25px 0;
            overflow: hidden;
            border: 1px solid #eaeaea;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 16px 51px 0 rgba(0, 0, 0, 0.11);

            @include xl-block() {
                padding: 20px 20px 0;
            }

            @include sm-block() {
                margin-top: -40px;
            }

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                width: 100%;
                height: 133px;
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0) 0%,
                    #fff 46.13%
                );

                @include sm-block() {
                    height: 90px;
                }
            }

            .blog-tag {
                display: inline-flex;
                align-items: flex-start;
                margin-bottom: 20px;
                gap: 10px;

                @include xl-block() {
                    margin-bottom: 16px;
                }

                &__item {
                    display: flex;
                    align-items: flex-start;
                    padding: 4px 13px;
                    border: 0.287px solid #828282;
                    border-radius: 28.688px;

                    color: #828282;
                    font-family: $f-light;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 17.213px;
                    gap: 3px;

                    @include xl-block() {
                        font-size: 12px;
                        line-height: 14.305px;
                    }
                }
            }
        }

        &__title {
            margin-bottom: 10px;
            color: #363434;
            font-family: $f-bold;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 24px;

            text-transform: uppercase;

            @include xl-block() {
                font-size: 13px;
                line-height: 19.946px;
            }
        }

        &__blockquote {
            margin-bottom: 15px;
            color: #303030;
            font-family: $f-medium;
            font-size: 15px;
            font-style: italic;
            font-weight: normal;
            line-height: 134%;

            @include xl-block() {
                font-size: 13px;
            }
        }

        &__p {
            position: relative;
            height: 110px;
            overflow: hidden;
            color: #303030;
            font-family: $f-light;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 134.9%;

            @include xl-block() {
                height: 60px;
                font-size: 13px;
            }
        }

        &__more {
            position: absolute;
            bottom: 36px;
            left: 25px;
            z-index: 10;
            display: flex;
            align-items: center;
            gap: 10px;

            @include xl-block() {
                bottom: 30px;
            }

            span {
                color: #828282;
                font-family: $f-light;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 17.213px;

                @include xl-block() {
                    font-size: 12px;
                }
            }
        }
    }

    &-tag {
        display: inline-flex;
        align-items: flex-start;
        margin-bottom: 25px;
        gap: 16.202px;

        &__item {
            display: flex;
            align-items: flex-start;
            padding: 10px 25px;
            border: 0.287px solid #666;
            border-radius: 28.688px;

            color: #363434;
            font-size: 18px;
            line-height: 17.213px;
            gap: 3px;

            @include xl-block() {
                padding: 8.101px 20.253px;
                font-size: 15px;
                line-height: 13.944px;
                gap: 2.43px;
            }

            @include lg-block() {
                font-size: 14px;
            }

            @include md-block() {
                padding: 4px 8px;
                font-size: 11px;
            }

            @include sm-block() {
                font-size: 9px;
            }
        }
    }

    &-choise {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 740px;
        height: 290px;
        margin: 40px 0;
        padding-left: 260px;
        overflow: hidden;
        border-radius: 15px;
        background: linear-gradient(92deg, #53c4d0 9.29%, #008a99 87.31%);
        box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);

        @include xl-block() {
            max-width: 600px;
        }

        @include lg-block() {
            display: none;
        }

        &__img {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__wrap {
            display: flex;
            align-items: center;
            margin-bottom: 17px;
            gap: 17px;
        }

        &__proc {
            color: #fff;
            font-family: $f-bold;
            font-size: 48.123px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: -0.241px;
            line-height: normal;
            text-align: center;
        }

        &__title {
            max-width: 300px;
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 20px;

            @include xl-block() {
                font-size: 12px;
            }
        }

        & blockquote {
            margin-bottom: 20px;
            color: #fff;
            font-family: $f-medium;
            font-size: 22px;
            font-style: italic;
            font-weight: normal;
            line-height: 134.9%;

            @include xl-block() {
                font-size: 16px;
            }
        }

        & a {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            height: 70px;
            padding: 12.599px 35.435px;

            border-radius: 40px;
            background: linear-gradient(180deg, #f4f4f4 0%, #d1cccc 100%),
                linear-gradient(174deg, #53c4d0 3.78%, #008a99 94.73%);
            box-shadow:
                0 2.17px 0 0 #088492,
                0 2.17px 0 0 #ddd;

            color: #666668;
            font-family: $f-bold;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 32px;
            text-align: center;
            white-space: nowrap;

            @include xl-block() {
                height: 58px;
                font-size: 12px;
            }
        }
    }

    &-choise-card {
        position: sticky;
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        border-radius: 15px;
        background: linear-gradient(92deg, #53c4d0 9.29%, #008a99 87.31%);
        box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);

        @include lg-block() {
            position: relative;
            top: auto;
            width: calc(50% - 10px);
        }

        @include md-block() {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
        }

        @include sm-block() {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        &__img {
            width: 286px;
            height: 296px;

            @include xl-block() {
                width: 237.662px;
                height: 245.972px;
            }

            @include lg-block() {
                width: 180.102px;
                height: 186.399px;
                margin-bottom: -20px;
            }

            @include md-block() {
                order: 2;
                width: 220px;
                height: 244px;
                margin-bottom: 0;
                transform: translateX(-20px);
            }

            @include sm-block() {
                order: 1;
                width: 180.102px;
                height: 186.399px;
                margin-bottom: -30px;
                transform: translateX(0);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;

                @include md-block() {
                    object-fit: cover;
                    object-position: bottom center;
                }
            }
        }

        &__desc {
            padding: 0 25px 38px;

            // @include xl-block() {}

            @include md-block() {
                order: 1;
                max-width: 330px;
                padding: 30px 20px;
            }

            @include sm-block() {
                order: 2;
            }
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 17px;

            @include sm-block() {
                margin-bottom: 5px;
            }
        }

        &__proc {
            color: #fff;
            font-family: $f-bold;
            font-size: 48.123px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: -0.241px;
            line-height: normal;
            text-align: center;

            @include xl-block() {
                font-size: 40px;
            }
        }

        &__title {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 20px;

            @include xl-block() {
                font-size: 13px;
            }

            @include sm-block() {
                font-size: 12px;
            }
        }

        & blockquote {
            margin-bottom: 20px;
            color: #fff;
            font-family: $f-medium;
            font-size: 20px;
            font-style: italic;
            font-weight: normal;
            line-height: 134.9%;

            @include xl-block() {
                font-size: 17px;
            }

            @include md-block() {
                max-width: 250px;
            }

            @include sm-block() {
                font-size: 16px;
            }
        }

        & a {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            height: 70px;
            padding: 12.599px 35.435px;

            border-radius: 40px;
            background: linear-gradient(180deg, #f4f4f4 0%, #d1cccc 100%),
                linear-gradient(174deg, #53c4d0 3.78%, #008a99 94.73%);
            box-shadow:
                0 2.17px 0 0 #088492,
                0 2.17px 0 0 #ddd;

            color: #666668;
            font-family: $f-bold;
            font-size: 14px;
            font-style: normal;
            font-weight: normal;
            line-height: 32px;
            text-align: center;
            white-space: nowrap;

            @include xl-block() {
                height: 58px;
                font-size: 12px;
            }

            @include lg-block() {
                width: 220px;
            }
        }
    }

    &-subscribe {
        max-width: 760px;
        margin-top: 80px;
        margin-bottom: 50px;

        &__title {
            @include md-block() {
                display: flex;
                justify-content: center;
            }

            span {
                color: #666;
                font-size: 24px;
                font-style: normal;
                line-height: 60px;

                @include md-block() {
                    font-size: 15px;
                    line-height: 48px;
                    text-align: center;
                }
            }
        }

        &-archive {
            max-width: 100%;

            h2 {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 40px;

                @include sm-block() {
                    display: inline-block;
                }

                ins {
                    display: inline-block;
                }
            }

            .form-subscribe input[type='text'] {
                width: 100%;
            }
        }

        h2 {
            font-family: $f-semibold;
            font-size: 30px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            text-transform: uppercase;

            @include md-block() {
                font-size: 21px;
                text-align: center;
            }

            @include sm-block() {
                font-size: 18px;
                text-align: center;
            }

            ins {
                display: block;
                background: linear-gradient(
                    174deg,
                    #53c4d0 3.78%,
                    #008a99 94.73%
                );
                text-decoration: none;
                background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                // @include md-block() {
                //     display: inline-block;
                // }
            }
        }
    }

    &-grid {
        display: flex;

        @include lg-block() {
            margin-top: 70px;
        }

        @include md-block() {
            flex-direction: column;
        }

        .blog-choise-card {
            display: none;

            @include lg-block() {
                display: flex;
                margin-top: 55px;
                margin-left: auto;
            }

            @include md-block() {
                margin-top: 30px;
                margin-left: auto;
            }
        }
    }
}

// .blog
