.footer {
    position: relative;
    padding-top: 140px;
    padding-bottom: 40px;
    background-color: #fbfbfb;

    @include sm-block() {
        padding-top: 50px;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        @include sm-block() {
            flex-flow: column-reverse;
            align-items: center;
        }
    }

    &__col {
        width: 50%;

        @include sm-block() {
            width: 100%;
            max-width: 284px;
        }

        &:first-child {
            @include sm-block() {
                margin-top: 30px;
            }
        }

        &:last-child {
            text-align: right;

            .footer-contant__text {
                @include md-block() {
                    margin-top: 0;
                }

                @include sm-block() {
                    text-align: center;
                }
            }
        }
    }

    &-social {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        gap: 50px;

        @include md-block() {
            margin-bottom: 30px;
            gap: 10px;
        }

        @include sm-block() {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;

            &__text {
                color: #4f4f52;
            }
        }
    }

    &-contant {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include md-block() {
            gap: 10px;
        }

        @include sm-block() {
            align-items: center;
        }

        &__item {
            display: flex;
            align-items: center;
            color: #4f4f52;
            gap: 10px;
        }

        &__text {
            margin-top: 30px;
            color: #666;
            font-family: $f-light;
            font-size: 13px;

            @include sm-block() {
                text-align: center;
            }

            a {
                display: block;
                color: #4f4f52;

                & + a {
                    margin-top: 25px;

                    @include sm-block() {
                        margin-top: 10px;
                    }
                }

                br {
                    @include sm-block() {
                        display: none;
                    }
                }
            }
        }
    }
}

// .footer
