.header {
    position: relative;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;

        @include sm-block() {
            max-width: 620px;
        }

        @include xs-block() {
            max-width: 460px;
        }
    }

    &__callback {
        display: flex;
        align-items: center;
        padding: 7px 25.75px 7px 7px;
        border-radius: 30px;
        background: #fff;
        box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);
        gap: 14px;
    }

    &-logo {
        // img {
        //     box-shadow: 0 0 1px rgb(122, 123, 120);
        // }
    }

    nav {
        width: 460px;

        @include sm-block() {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                a {
                    color: #303030;
                }
            }
        }
    }
}

// .header
