.header {
    position: relative;

    &__wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include lg-block() {
            justify-content: center;
        }
    }

    &__callback {
        display: flex;
        align-items: center;
        padding: 7px 21.75px 7px 7px;
        border-radius: 30px;
        background: #fff;
        box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);
        gap: 14px;

        @include lg-block() {
            position: absolute;
            top: 13px;
            right: 0;
        }

        @include md-block() {
            right: 20px;
            padding: 0;
            box-shadow: none;
        }

        @include sm-block() {
            right: 20px;
        }

        @include xs-block() {
            right: 30px;
        }

        img {
            @include md-block() {
                width: 32px;
                height: 32px;
            }

            @include sm-block() {
                width: 30px;
                height: 30px;
            }
        }

        span {
            color: #303030;
            font-size: 14px;

            @include lg-block() {
                font-size: 14px;
            }

            @include md-block() {
                display: none;
            }
        }
    }

    &-menu {
        display: none;
        align-items: center;
        padding: 7px 25.75px 7px 7px;
        border-radius: 30px;
        background: #fff;
        box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);
        cursor: pointer;
        gap: 14px;

        @include lg-block() {
            position: absolute;
            top: 13px;
            left: 0;
            display: flex;
        }

        @include md-block() {
            left: 20px;
            padding: 0;
            box-shadow: none;
        }

        @include sm-block() {
            left: 20px;
        }

        @include xs-block() {
            left: 30px;
        }

        &__hamburger {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: linear-gradient(174deg, #53c4d0 3.78%, #008a99 94.73%);

            @include md-block() {
                width: 32px;
                height: 32px;
                background: #fff;
            }

            @include sm-block() {
                width: 30px;
                height: 30px;
            }
        }

        .hamburger,
        .hamburger::after,
        .hamburger::before {
            width: 24px;
            height: 2px;
            border-radius: 2px;

            @include md-block() {
                width: 16px;
            }
        }

        .hamburger {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0ms 300ms;
            background: #fff;

            @include md-block() {
                background: linear-gradient(
                    174deg,
                    #53c4d0 3.78%,
                    #008a99 94.73%
                );
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 8px;
                left: 0;
                transition:
                    bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                background: #fff;

                @include md-block() {
                    background: linear-gradient(
                        174deg,
                        #53c4d0 3.78%,
                        #008a99 94.73%
                    );
                }

                @include md-block() {
                    bottom: 6px;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                transition:
                    top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                background: #fff;

                @include md-block() {
                    background: linear-gradient(
                        174deg,
                        #53c4d0 3.78%,
                        #008a99 94.73%
                    );
                }

                @include md-block() {
                    top: 6px;
                }
            }

            &.animate {
                background: rgba(255, 255, 255, 0);

                &::after {
                    top: 0;
                    transform: rotate(45deg);
                    transition:
                        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
                        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }

                &::before {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition:
                        bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
                        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }
        }

        span {
            color: #303030;

            @include md-block() {
                display: none;
            }

            @include sm-block() {
                display: none;
            }
        }
    }

    &-logo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 78px;
        font-size: 14px;
        text-align: center;

        @include lg-block() {
            width: 154.163px;
            height: 63.288px;
            font-size: 12px;
        }

        @include md-block() {
            width: 152px;
            height: 61px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            width: 210px;
            height: 93px;
            transform: translateX(-50%);
            background: url('/build/files/icons/svg/logo-bg.svg') center;
            background-repeat: no-repeat;
            pointer-events: none;

            @include lg-block() {
                width: 170px;
                height: 75px;
                background-size: cover;
            }

            @include md-block() {
                width: 162px;
                height: 70px;
                background-size: cover;
            }
        }

        &__text {
            color: $color-text;
        }
    }

    nav {
        display: flex;
        align-items: center;
        max-width: 460px;

        @include xl-block() {
            max-width: 365px;
        }

        @include to(1024px) {
            display: none;
        }

        &.nav-home {
            max-width: 580px;
        }

        &.show {
            position: absolute;
            top: 70px;
            left: 0;
            z-index: 10;
            display: flex;
            width: 200px;
            margin-top: 15px;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);

            @include md-block() {
                top: 50px;
                left: 10px;
            }

            @include xs-block() {
                left: 17px;
            }

            &::before {
                content: '';
                position: absolute;
                top: -7px;
                left: 20px;
                width: 14px;
                height: 14px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 3px;
                background-color: #fff;
                box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin: 0;
                    padding: 0;

                    & + li {
                        border-top: 1px solid rgba(0, 0, 0, 0.05);
                    }

                    a {
                        display: block;
                        padding: 15px 18px;
                    }
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding-left: 0;

            li {
                & + li {
                    margin-left: 50px;

                    @include xl-block() {
                        margin-left: 30px;
                    }
                }

                a {
                    color: #303030;
                    font-size: 14px;
                    white-space: nowrap;

                    @include xl-block() {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// .header
