.psychologist {
    &-selection {
        &__wrap {
            display: flex;

            @include lg-block() {
                flex-direction: column;
                align-items: center;
            }
        }

        &__desc {
            @include xl-block() {
                width: 480px;
            }
        }

        &__slider {
            position: relative;
            margin-left: auto;

            .section-intro-slider__inner {
                top: 0;
            }
        }

        &__quote {
            @include xl-block() {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            padding-bottom: 5px;
        }

        h2 {
            color: #303030;
            font-family: $f-semibold;
            font-size: 36px;
            font-style: normal;
            font-weight: normal;
            line-height: 48.058px;
            text-transform: uppercase;

            @include xl-block() {
                font-size: 29px;
                line-height: 39.008px;
            }

            @include lg-block() {
                margin-bottom: 30px;
                font-size: 25px;
                line-height: 30px;
                text-align: center;
            }

            @include md-block() {
                font-size: 21px;
                line-height: 21px;
            }

            @include sm-block() {
                margin-bottom: 25px;
                font-size: 18px;
                line-height: 21px;
            }
        }

        blockquote {
            position: relative;
            display: flex;
            width: 100%;
            max-width: 570px;
            margin-top: 40px;
            padding: 30px 11px 30px 21px;
            border-radius: 15px;
            background: linear-gradient(
                91deg,
                rgba(255, 255, 255, 0.79) 4.47%,
                #fff 100%
            );
            box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);

            color: #303030;
            font-size: 18px;
            font-style: normal;
            line-height: 134.9%;

            @include xl-block() {
                padding: 25px 25px 20px;
                font-size: 16px;
                line-height: 134.9%;
            }

            @include lg-block() {
                margin-top: 0;
                margin-bottom: 30px;
            }

            @include md-block() {
                margin-bottom: 25px;
                font-size: 13px;
                line-height: 134.9%;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -63px;
                left: 45%;
                width: 187px;
                height: 73px;
                transform: rotate(34.453deg);
                background: url('/build/files/icons/svg/section-psychologist-selection.svg')
                    no-repeat;
                background-size: contain;

                @include xl-block() {
                    bottom: -15px;
                    left: 67%;
                    width: 98px;
                    height: 38px;
                    transform: rotate(34deg);
                    background: url('/build/files/icons/svg/section-psychologist-selection-mob.svg')
                        no-repeat;
                    background-size: contain;
                }

                @include lg-block() {
                    display: none;
                }
            }

            br {
                @include xl-block() {
                    display: none;
                }
            }
        }
    }

    &-switch {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 20px;

        @include sm-block() {
            gap: 14px;
        }

        &__item {
            display: flex;
            flex: 1;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            padding: 0 25px;
            border-radius: 10px;
            background: linear-gradient(91deg, #f1f1f1 0.4%, #dcdcdc 95.3%);
            color: #666;
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            line-height: 60px;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;

            @include xl-block() {
                font-size: 16px;
                line-height: 48px;
            }

            @include lg-block() {
                flex: 0 1 calc(1 / 4 * 100%);
                font-size: 16px;
                line-height: 45px;
            }

            @include md-block() {
                font-size: 16px;
                line-height: 36px;
            }

            @include sm-block() {
                flex: 0 1 calc(1 / 2 * 100% - 28px);
                flex-grow: 1;
                font-size: 12px;
            }

            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 2;
            }

            &:nth-child(3) {
                order: 3;
            }

            &:nth-child(4) {
                order: 4;
            }

            &:nth-child(5) {
                order: 5;
            }

            &:nth-child(6) {
                order: 6;

                @include md-block() {
                    order: 7;
                }
            }

            &:nth-child(7) {
                order: 7;

                @include md-block() {
                    order: 6;
                }
            }

            &--big {
                max-width: 280px;

                @include xl-block() {
                    flex: 0 1 auto;
                    max-width: 225px;
                }

                @include lg-block() {
                    max-width: 245px;
                }

                @include md-block() {
                    max-width: inherit;
                }
            }

            &.active {
                background: linear-gradient(
                    92deg,
                    #53c4d0 -2.05%,
                    #008a99 102.22%
                );
                color: #fff;
            }
        }

        & + & {
            margin-top: 20px;

            .psychologist-switch__item {
                flex: 0 1 280px;
            }
        }
    }

    &-loop {
        display: flex;
        flex-wrap: wrap;
        margin: 40px -20px 20px;

        @include xl-block() {
            margin: 40px -10px 20px;
        }

        @include md-block() {
            margin: 40px 0 20px;
        }
    }

    &-grid {
        margin: 40px auto 0;

        .swiper {
            padding-bottom: 40px;
        }

        .swiper-grid-column > .swiper-wrapper {
            flex-direction: inherit !important;

            // align-items: stretch;

            gap: 20px 0;
        }

        .swiper-slide {
            // align-self: stretch;
            // height: unset;

            margin-top: 0 !important;
        }

        &-card {
            padding: 15px;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 0 16.303px 0 rgba(0, 0, 1, 0.04);

            @include xl-block() {
                padding: 12px;
            }

            @include lg-block() {
                display: flex;
            }

            &__photo {
                width: 100%;
                height: 230px;
                border-radius: 15px 15px 0 0;
                background: top/cover no-repeat;

                @include xl-block() {
                    height: 194px;
                }

                @include lg-block() {
                    width: 130px;
                    height: 260px;
                    border-radius: 10px 0 0 10px;
                }

                @include md-block() {
                    width: 205px;
                    height: 205px;
                }

                @include sm-block() {
                    height: 260px;
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px 0;
                border: 1px solid #f7f7f9;
                border-top: none;
                border-radius: 0 0 15px 15px;

                @include lg-block() {
                    flex: 0 1 calc(100% - 130px);
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 20px 10px;
                    border-top: 1px solid #f7f7f9;
                    border-left: none;
                    border-radius: 0 15px 15px 0;
                }
            }

            &__name {
                font-size: 14px;

                @include lg-block() {
                    font-family: $f-medium;
                    font-size: 15px;
                }
            }

            &__tag {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 10px;
                overflow: hidden;
                gap: 7px 3px;

                @include lg-block() {
                    justify-content: flex-start;
                }

                &--one {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    @include lg-block() {
                        justify-content: flex-start;
                    }

                    span {
                        padding: 4px 13px !important;
                        font-size: 14px !important;
                        text-align: center;

                        @include lg-block() {
                            font-size: 12px !important;
                        }
                    }
                }

                span {
                    padding: 3px 7px;
                    border: 1px solid #828282;
                    border-radius: 28px;
                    color: #828282;
                    font-size: 10px;
                }
            }

            &__btn {
                margin-top: 10px;

                .button-main__min {
                    max-width: 182px;
                }
            }
        }
    }

    &-slider {
        &-card {
            width: calc(1 / 4 * 100% - 40px);
            margin: 0 20px 20px;
            padding: 15px;
            transform-origin: right bottom;
            transition:
                transform 0.5s ease-in-out,
                -webkit-transform 0.5s ease-in-out;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 0 16.303px 0 rgba(0, 0, 1, 0.04);

            &__photo {
                width: 100%;
                height: 269px;
                border-radius: 15px 15px 0 0;
                background: top/cover no-repeat;

                @include xl-block() {
                    height: 218px;
                }

                @include lg-block() {
                    height: 330px;
                }

                @include md-block() {
                    // height: 253px;
                }

                @include sm-block() {
                    height: 155px;
                }
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px 5px;
                border: 1px solid #f7f7f9;
                border-top: none;
                border-radius: 0 0 15px 15px;
            }

            &__name {
                font-size: 14px;
            }

            &.swiper-slide {
                box-sizing: border-box;
                margin: 0;
                padding: 15px;
                -webkit-transform: scale(0.85) translateX(-17px) !important;
                transform: scale(0.85) translateX(-17px) !important;
                -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
                transition: transform 0.5s ease-in-out;
                transition:
                    transform 0.5s ease-in-out,
                    -webkit-transform 0.5s ease-in-out;
                border-radius: 15px;
                background-color: #fff;
                box-shadow: 0 0 16.303px 0 rgba(0, 0, 1, 0.04);

                @include xl-block() {
                    padding: 9px;
                }

                @include lg-block() {
                    padding: 15px;
                }

                @include md-block() {
                    padding: 10px;
                }

                .psychologist-card__info {
                    margin-bottom: 30px;
                }
            }

            &.swiper-slide-active {
                transform: scale(1) translateX(10px) !important;
                -web-webkit-transform: scale(1) translateX(10px) !important;
            }
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
}

// .psychologist
