.sidebar {
    &-item {
        &__title {
            margin-bottom: 40px;
            color: #828282;
            font-family: $f-light;
            font-size: 18px;
            font-style: normal;
            line-height: 17.213px;
        }
    }
}

// .sidebar
