.step {
    position: relative;
    margin-top: 50px;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
    }

    &-item {
        width: calc(1 / 4 * 100% - 20px);
        margin: 0 10px;

        @include lg-block() {
            width: calc(50% - 20px);
        }

        @include md-block() {
            width: 100%;
        }

        &:nth-child(1) {
            .step-item__desc {
                @include lg-block() {
                    min-height: 102px;
                }
            }
        }

        &:nth-child(2) {
            .step-item__number::before {
                transform: translate(-10px, -40px) rotate(180deg);

                @include lg-block() {
                    display: none;
                }
            }

            .step-item__desc {
                @include lg-block() {
                    min-height: 102px;
                }
            }
        }

        &:nth-child(3) {
            .step-item__desc {
                @include lg-block() {
                    min-height: 120px;
                }
            }
        }

        &:nth-child(4) {
            .step-item__number::before {
                display: none;
            }

            .step-item__desc {
                @include lg-block() {
                    min-height: 120px;
                }
            }
        }

        &__number {
            position: relative;
            display: inline-block;
            padding: 0 20px;
            font-family: $f-bold;
            font-size: 92px;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;

            @include xl-block() {
                font-size: 75px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 60px;
                left: 100%;
                width: 156px;
                height: 20px;
                margin-left: -10px;
                background: url('/build/files/icons/svg/step-line.svg')
                    no-repeat;
                background-size: contain;

                @include xl-block() {
                    top: 50px;
                    width: 120px;
                }

                @include lg-block() {
                    top: 60px;
                    width: 156px;
                    margin-left: 60px;
                    transform: translate(0, -40px) rotate(180deg);
                }

                @include sm-block() {
                    width: 100px;
                    margin-left: 0;
                }
            }
        }

        &__desc {
            margin-top: -55px;
            padding: 25px 30px 25px 20px;
            border-radius: 10px;
            background: linear-gradient(
                91deg,
                rgba(255, 255, 255, 0.79) 4.47%,
                #fff 100%
            );
            box-shadow: 0 0 38px 0 rgba(120, 121, 123, 0.1);

            color: #4f4f52;

            font-family: $f;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 20px;
            min-height: 175px;
            backdrop-filter: blur(5.5px);

            @include xl-block() {
                margin-top: -45px;
                padding: 20px 15px;
                font-size: 14px;
                min-height: 160px;
            }

            @include lg-block() {
                padding: 21px 32px 21px 20px;
                font-size: 16px;
                line-height: 20px;
            }

            @include md-block() {
                font-size: 13px;
                min-height: auto !important;
            }

            b {
                font-family: $f-semibold;
                font-weight: normal;
            }
        }
    }
}

// .step
